.center {
  text-align: center;
}
h1 {
  font-size: 2rem;
  color: #4d4d4d;
  font-weight: 600
}
h2 {
  font-size: 2rem;
  color: #646464;
  font-weight: 500
}
h3 {
  font-size: 1.75rem;
  color: #7c7c7c;
  font-weight: 500
}
h4 {
  font-size: 1.5rem;
  color: #7c7c7c;
  font-weight: 400
}
h5 {
  font-size: 1.25rem;
  color: #808080;
  font-weight: 500
}
h6 {
  font-size: 1rem;
  color: #8a8a8a;
  font-weight: 500
}

label {
  font-size: .9rem;
  font-weight: 600;
  color: #000000;
  display: inline-block;
  margin-bottom: .3rem;
}

.gs-padding {
  padding: 25px;
}

.gs-medium-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1rem;
}


.gs-card-header{
  color: #555555;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  opacity: inherit;
}
.gs-card-header .basic-button.icon {
  padding: 5px;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.gs-card-header .basic-button.icon i{
  font-size: .9rem;
}

.gs-white-overlay-background-tranparent {  
  background: #ffffff7c;
  position: fixed;
  top: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 300;
  box-shadow: 0px 0px 1000px 0px white;
  animation: .25s ease-in 0s 1 fallIn;
}
.gs-white-overlay-background {
  background: #ffffff;
  position: fixed;
  top: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 300;
  box-shadow: 0px 0px 1000px 0px white;
  animation: .5s ease-in 0s 1 fallIn;
}
@keyframes fallIn {
  0% {
    top: -130%
  }
  10% {
    top: -130%
  }
}
.gs-card-with-shadow {
  border-radius: 10px;
  padding: 25px;
  margin: 10px 12px;
  box-shadow: 0px 5px 13px -2px #00000040;
  background: white;
}
.gs-card-with-shadow.no-padding {
  padding: 0px;
}
.gs-card-rise {
  /* ANIMATION */
  animation: .5s ease-out 0s 1 cardRise;
}

/* //////////////////////////////////////////////
//////////////////APP PAGE///////////////////////
////////////////////////////////////////////// */

.gs-app-selected-view {
  position: relative;
  overflow-y: auto;
  min-width: 490px;
  padding-top: 4vh;
  padding-bottom: 4vh;
}
.gs-app-selected-view .panel{  
  max-width: 600px;
  min-width: 400px;
}
.gs-card-photo {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

@keyframes cardRise {
  0% {
    opacity: 0;
    transform: translateY(30px);
    box-shadow: 0px 0px 0px 0px black;
  }
  35% {    
    box-shadow: 0px -3px 0px -4px #00000049;
  }
  45% {
    transform: translateY(5px);
  }
  70% {    
    opacity: 1;
  }
  100% {
    transform: translateZ(0px);   
    transform: translateY(0px);
  }
}

.gs-top-right-exit {
  background: none;
  color: #929292;

  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 500;

  cursor: pointer;
}


.gs-container {
  display: flex;
}
.gs-container.vertical{
  display: flex;
  flex-direction: column;
}
.gs-container.center-horizontal {
  flex-direction: row;
  justify-content: center;
}
.gs-container.center-vertical {
  flex-direction: column;
  align-items: center;
}
.gs-flex-row {
  display: flex;
  align-items: center;
}

.gs-buttons-right {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.gs-basic-button {  
  background: white;
  color: #00cec9;
  outline: none;
  text-decoration: none;
  appearance: none;
  width: auto;
  border: 1.5px #00cec9 solid;
  cursor: pointer;
  padding: .5rem .75rem;
  font-size: .8rem;
  border-radius: 7.5px;
  transition: box-shadow .2s .03s ease-in, color .2s .03s ease-in, background-color .1s .1s ease-in;
  font-weight: 600;    
  line-height: inherit;
  margin: 2.5px;
  display: inline-block;
  text-decoration: none;

  box-shadow: 0px 0rem 0px 0px inset #00cec9;
  
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.gs-basic-button.inverted {  
  color: white;
  background-color: #00cec9;
  box-shadow: 0px 0rem 0px 0px inset white;
}
.gs-basic-button.big {
  padding: .9rem 1.15rem;
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
}
.gs-basic-button i{  
  font-size: .7rem;
  margin-right: .3rem;
  vertical-align: top;
}
.gs-basic-button.icon{
  padding: .25rem .5rem;
}
.gs-basic-button.icon i{
  font-size: 1.3rem;
  margin: 0px;
}
.gs-basic-button:hover,
.gs-basic-button:focus {
  text-decoration: none;
  box-shadow: 0px 2rem 0px 0px inset #00cec9;
  background-color: #00cec9;
  color: white;
  outline:0;
}
.gs-basic-button.inverted:hover,
.gs-basic-button.inverted:focus {
  box-shadow: 0px 2rem 0px 0px inset white;
  background-color: white;
  color: #00cec9;
}
.gs-basic-button.big:hover,
.gs-basic-button.big:focus {  
  box-shadow: 0px 3rem 0px 0px inset #00cec9;
}
.gs-basic-button.orange {
  background: #e17055;
  box-shadow: 0px 1px 8px 2px #e1715569;
}
.gs-basic-button:hover.orange,
.gs-basic-button:focus.orange {
  background: #f37556;
  box-shadow: 0px 4px 8px 0px #e17155b7;
}
.gs-basic-button.purple {
  background: #6c5ce7;
  box-shadow: 0px 1px 8px 2px #6c5ce77c;
}
.gs-basic-button.red {
  border-color: #ff7675;
  box-shadow: 0px 0rem 0px 0px inset #ff7f7f;
  color: #ff7675;
  /* box-shadow: 0px 1px 8px 2px #ff76757c; */
}
.gs-basic-button:hover.red,
.gs-basic-button:focus.red {
  box-shadow: 0px 2rem 0px 0px inset #ff7f7f;
  color: white;
  background-color: #ff7f7f;
}
.gs-basic-button.green {
  background: #05e0a2;
  box-shadow: 0px 1px 8px 2px #05e0a286;
}
.gs-basic-button:hover.green,
.gs-basic-button:focus.green {
  background: #00eca9;
  box-shadow: 0px 4px 8px 0px #05e0a2ce;
}
.gs-basic-button::placeholder{
  color: #7e7e7e;
}
.gs-basic-button:active {    
  box-shadow: 0px 2px 3px -3px rgba(128, 128, 128, 0.507);
}

.gs-form-group {
  box-sizing: border-box;
  border-bottom: 1px #ececec solid;  
  padding: 1.2rem 0px 1rem 0px;
  margin: 0px .4rem;
}
.gs-form-group:last-child {
  border-bottom: none;  
}
.gs-form-group label {
  margin-bottom: .5rem;
}

.gs-basic-input {
  background: white;
  outline: none;  
  width: 100%;
  padding: .45rem .7rem;
  font-size: .9rem;
  line-height: 1.5;
  margin-bottom: 5px;
  resize: none;
  border: 1px #d4d4d4 solid;
  border-radius: 5px;
  display: block;
  box-sizing: border-box;
  transition: all .2s ease-in-out;
}
.gs-basic-input:focus {
  border: 1px solid #00cec9;
  box-shadow: 0px 0px 0px 2px #00cec9;
}

.gs-basic-input.large {
  font-size: 1.1rem;
}
.gs-basic-input.time {
  width: 8rem;
}

.gs-basic-input::placeholder {
  color: #7e7e7e;
}
.gs-basic-input:read-only {
  border-color: white;
  padding: .1rem .7rem .1rem 0px;
}
.gs-basic-input:read-only:focus {  
  border-color: white;
  box-shadow: none;
}

.m0 { margin: 0 !important; }
.mb0 { margin-bottom: 0 !important; }
.mb1em { margin-bottom: 1em !important; }
.mb2em { margin-bottom: 2em !important; }